<!DOCTYPE html>
<html>
<head>
  <title>Fortunki</title>
  <style type="text/css">

    body { background-color: orange; text-align: center; font-family: arial, sans-serif; }

    div.background {
      width: 80%;
      padding: 0 4em;
      background-color: khaki;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }

    h1,h3 { color: #222;
         margin-bottom: 0.3em;
         font: 2.4em/1.8em DaxCompact-RegularRegular, Georgia, Times, 'Times New Roman', serif;
    }
    
    h2 {
      font: 1.4em/1.8em DaxCompact-RegularRegular, Georgia, Times, 'Times New Roman', serif;
    }

  </style>
</head>

<body>
  <h1>Fortunka - Twój cytat na dziś!</h1>
  <div class="background">
    <h2>Dostępne fortunki:</h2>
  </div>
</body>
</html>
